{{- $screenDumpDir := joinPath .chezmoi.homeDir ".local" "share" "k9s" "screen-dumps" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $screenDumpDir = joinPath .chezmoi.homeDir "Library" "Application Support" "k9s" "screen-dumps" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $screenDumpDir = joinPath (env "LOCALAPPDATA") "k9s" "screen-dumps" -}}
{{- else if env "XDG_DATA_HOME" -}}
{{-   $screenDumpDir = joinPath (env "XDG_DATA_HOME") "k9s" "screen-dumps" -}}
{{- end -}}
k9s:
  liveViewAutoRefresh: false
  gpuVendors: {}
  screenDumpDir: {{ $screenDumpDir }}
  refreshRate: 2
  apiServerTimeout: 2m0s
  maxConnRetry: 5
  readOnly: false
  noExitOnCtrlC: false
  portForwardAddress: localhost
  ui:
    enableMouse: false
    headless: false
    logoless: false
    crumbsless: false
    splashless: false
    reactive: false
    noIcons: false
    invert: false
    defaultsToFullScreen: false
    useFullGVRTitle: false
    skin: tokyonight
  skipLatestRevCheck: false
  disablePodCounting: false
  shellPod:
    image: busybox:1.37.0
    namespace: default
    limits:
      cpu: 100m
      memory: 100Mi
  imageScans:
    enable: false
    exclusions:
      namespaces: []
      labels: {}
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: -1
    textWrap: false
    disableAutoscroll: false
    columnLock: false
    showTime: false
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
  defaultView: ""
